In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_csv('./data/raw/data-1.csv')
data_3 = pd.read_csv('./data/raw/data-2.csv')

In [3]:
data_1 = data_1[data_1['location'] == 'Sri Lanka']

In [4]:
data_3 = data_3[data_3['Country/Region'] == 'Sri Lanka']

In [5]:
data_3

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
268,269,01/27/2020,NaN,Sri Lanka,1/27/20 23:59,1.0,0.0,0.0
321,322,01/28/2020,NaN,Sri Lanka,1/28/20 23:00,1.0,0.0,0.0
374,375,01/29/2020,NaN,Sri Lanka,1/29/20 19:30,1.0,0.0,0.0
430,431,01/30/2020,NaN,Sri Lanka,1/30/20 16:00,1.0,0.0,0.0
497,498,01/31/2020,NaN,Sri Lanka,1/31/2020 23:59,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
281633,281634,04/28/2021,NaN,Sri Lanka,2021-04-29 04:20:55,104953.0,661.0,95083.0
282397,282398,04/29/2021,NaN,Sri Lanka,2021-04-30 04:21:03,106484.0,661.0,95445.0
283161,283162,04/30/2021,NaN,Sri Lanka,2021-05-01 04:20:47,108146.0,678.0,95975.0
283925,283926,05/01/2021,NaN,Sri Lanka,2021-05-02 04:20:48,109862.0,687.0,96478.0
284689,284690,05/02/2021,NaN,Sri Lanka,2021-05-03 04:20:39,111753.0,696.0,97848.0

In [71]:
data_1

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
73793,LKA,Asia,Sri Lanka,20200127,1.0,1.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
73794,LKA,Asia,Sri Lanka,20200128,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
73795,LKA,Asia,Sri Lanka,20200129,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
73796,LKA,Asia,Sri Lanka,20200130,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
73797,LKA,Asia,Sri Lanka,20200131,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74255,LKA,Asia,Sri Lanka,20210503,113676.0,1923.0,1614.286,709.0,13.0,8.857,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
74256,LKA,Asia,Sri Lanka,20210504,115590.0,1914.0,1729.000,709.0,0.0,8.857,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
74257,LKA,Asia,Sri Lanka,20210505,117529.0,1939.0,1796.571,734.0,25.0,10.429,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
74258,LKA,Asia,Sri Lanka,20210506,119424.0,1895.0,1848.571,745.0,11.0,12.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
74259,LKA,Asia,Sri Lanka,20210507,121338.0,1914.0,1884.571,764.0,19.0,12.286,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782

In [6]:
new_tests = (data_1['new_tests'])
total_tests = (data_1['total_tests'])
positive_rate = (data_1['positive_rate'])
total_vaccinations = (data_1['total_vaccinations'])
new_vaccinations = (data_1['new_vaccinations'])

In [7]:
new_tests = new_tests.fillna(new_tests.median())
total_tests = total_tests.fillna(total_tests.median())
positive_rate = positive_rate.fillna(positive_rate.median())
total_vaccinations = total_vaccinations.fillna(total_vaccinations.median())
new_vaccinations = new_vaccinations.fillna(new_vaccinations.median())

In [8]:
new_cases_list = []
for row_index,(info) in enumerate(data_3['Confirmed']):
    if row_index == 0:
        new_cases_list.append(info)
    else:
        new_cases_list.append(info - data_3['Confirmed'].iloc[row_index - 1])

In [9]:
new_cases = np.array(new_cases_list)

In [10]:
total_cases = np.array(data_3['Confirmed'])

In [11]:
total_deaths = np.array(data_3['Deaths'])

In [12]:
new_deaths_list = []
for row_index,(info) in enumerate(data_3['Deaths']):
    
    if row_index == 0:
        new_deaths_list.append(info)
    else:
        new_deaths_list.append(info - data_3['Deaths'].iloc[row_index - 1])

In [13]:
new_deaths = np.array(new_deaths_list)

In [14]:
total_recovered = np.array(data_3['Recovered'])

In [15]:
new_recovered_list = []
for row_index,(info) in enumerate(data_3['Recovered']):
    if row_index == 0:
        new_recovered_list.append(info)
    else:
        new_recovered_list.append(info - data_3['Recovered'].iloc[row_index - 1])

In [16]:
new_recovered = np.array(new_recovered_list)

In [17]:
len(new_recovered)

462

In [18]:
len(new_tests)

467

In [19]:
dates_1 = []
for date in data_1['date']:
    date = str(date).replace('-','')
    dates_1.append(int(date))

In [20]:
# Year Month Day

In [21]:
dates_3 = []
for date in data_3['ObservationDate']:
    date = str(date).split('/')
    date = int(date[2] + date[0] + date[1])
    dates_3.append(date)

In [22]:
dates_1[0]

20200127

In [23]:
dates_3[0]

20200127

In [24]:
data_1['date'] = dates_1

In [25]:
data_3['ObservationDate'] = dates_3

In [26]:
total_recovered = data_3['Recovered']

In [27]:
infos = [new_tests,total_tests,positive_rate,total_vaccinations,new_vaccinations]
infos_name = ['new_tests','total_tests','positive_rate','total_vaccinations','new_vaccinations']

In [28]:
file_names = []

In [29]:
for (info,name) in zip(infos,infos_name):
    info = list(info)
    new_df = pd.DataFrame({'date':data_1['date'],name:info})
    print(len(new_df))
    new_df.to_csv(f'./{name}.csv',index=False)
    file_names.append([f'./{name}.csv',name])

467
467
467
467
467

In [30]:
infos = [new_cases,total_cases,total_deaths,new_deaths,new_recovered,total_recovered]
infos_name = ['new_cases','total_cases','total_deaths','new_deaths','new_recovered','total_recovered']

In [31]:
for (info,name) in zip(infos,infos_name):
    info = list(info)
    new_df = pd.DataFrame({'date':data_3['ObservationDate'],name:info})
    print(len(new_df))
    new_df.to_csv(f'./{name}.csv',index=False)
    file_names.append([f'./{name}.csv',name])

462
462
462
462
462
462

In [32]:
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor

In [33]:
results = {}

In [34]:
for file in file_names:
    data = pd.read_csv(file[0])
    X = data['date'].astype(np.float32)
    X = np.array(X).reshape(-1, 1).astype(np.float32)
    y = data[file[1]]
    model = RandomForestRegressor()
    model.fit(X,y)
    results[file[1]] = [model.score(X,y),model.predict(X)[0],y[0]]

In [35]:
results

{'new_tests': [0.9738510517321103, 2827.0, 2827.0],
 'total_tests': [0.9966773782442485, 287864.0, 287864.0],
 'positive_rate': [0.9758566806773458, 0.02999999999999995, 0.03],
 'total_vaccinations': [0.9421673422092169, 726920.0, 726920.0],
 'new_vaccinations': [0.9149942925661824, 9704.5, 9704.5],
 'new_cases': [0.9748953960706197, 0.32175, 1.0],
 'total_cases': [0.9999246646042789, 1.0, 1.0],
 'total_deaths': [0.9998908363580193, 0.0, 0.0],
 'new_deaths': [0.7596288650126689, 0.0, 0.0],
 'new_recovered': [0.9535734797920047, 0.0, 0.0],
 'total_recovered': [0.9999302742851999, 0.0, 0.0]}

In [36]:
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler,MaxAbsScaler,OneHotEncoder,LabelEncoder,Normalizer

In [37]:
results = {}

In [38]:
for file in file_names:
    data = pd.read_csv(file[0])
    X = data['date'].astype(np.float32)
    X = np.array(X).reshape(-1, 1).astype(np.float32)
    y = data[file[1]]
    le = LabelEncoder()
    le.fit(y)
    y = le.transform(y)
    model = RandomForestRegressor()
    model.fit(X,y)
    results[file[1]] = [model.score(X,y),model.predict(X)[0],y[0]]

In [39]:
results

{'new_tests': [0.9662092759083641, 203.0, 203],
 'total_tests': [0.9919806396525034, 218.0, 218],
 'positive_rate': [0.978126013301882, 30.0, 30],
 'total_vaccinations': [0.911402458220999, 37.0, 37],
 'new_vaccinations': [0.8082557408892712, 33.0, 33],
 'new_cases': [0.9757404465936385, 0.28854761904761894, 1],
 'total_cases': [0.9999677360319738, 0.0, 0],
 'total_deaths': [0.999929769351141, 0.0, 0],
 'new_deaths': [0.7598551635181103, 0.0, 0],
 'new_recovered': [0.9696743051169889, 2.0, 2],
 'total_recovered': [0.9999673403153663, 0.0, 0]}

In [40]:
# le

In [41]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,BaggingRegressor,RandomForestRegressor
from sklearn.svm import SVR

In [42]:
models = [
    ['KNeighborsRegressor',KNeighborsRegressor],
    ['LogisticRegression',LogisticRegression],
    ['LogisticRegressionCV',LogisticRegressionCV],
    ['GaussianNB',GaussianNB],
    ['DecisionTreeRegressor',DecisionTreeRegressor],
    ['GradientBoostingRegressor',GradientBoostingRegressor],
    ['AdaBoostRegressor',AdaBoostRegressor],
    ['BaggingRegressor',BaggingRegressor],
    ['RandomForestRegressor',RandomForestRegressor],
    ['SVR',SVR],
]

In [43]:
results = {}
for model in models:
    print(model)
    name = model[0]
    mean = [0]
    for file in file_names:
        data = pd.read_csv(file[0])
        X = data['date'].astype(np.float32)
        X = np.array(X).reshape(-1, 1).astype(np.float32)
        y = data[file[1]]
        le = LabelEncoder()
        le.fit(y)
        y = le.transform(y)
        model = RandomForestRegressor()
        model.fit(X,y)
        mean.append(model.score(X,y))
    results[name] = [np.mean(mean),model.predict(X)[250],y[250]]

['KNeighborsRegressor', <class 'sklearn.neighbors._regression.KNeighborsRegressor'>]
['LogisticRegression', <class 'sklearn.linear_model._logistic.LogisticRegression'>]
['LogisticRegressionCV', <class 'sklearn.linear_model._logistic.LogisticRegressionCV'>]
['GaussianNB', <class 'sklearn.naive_bayes.GaussianNB'>]
['DecisionTreeRegressor', <class 'sklearn.tree._classes.DecisionTreeRegressor'>]
['GradientBoostingRegressor', <class 'sklearn.ensemble._gb.GradientBoostingRegressor'>]
['AdaBoostRegressor', <class 'sklearn.ensemble._weight_boosting.AdaBoostRegressor'>]
['BaggingRegressor', <class 'sklearn.ensemble._bagging.BaggingRegressor'>]
['RandomForestRegressor', <class 'sklearn.ensemble._forest.RandomForestRegressor'>]
['SVR', <class 'sklearn.svm._classes.SVR'>]

In [44]:
import pprint

In [45]:
pprint.pprint(results)

{'AdaBoostRegressor': [0.8632000831544313, 187.93054761904762, 187],
 'BaggingRegressor': [0.8636426019486034, 187.97850000000003, 187],
 'DecisionTreeRegressor': [0.8631484708907772, 188.07609523809523, 187],
 'GaussianNB': [0.8630624605517069, 188.0104166666667, 187],
 'GradientBoostingRegressor': [0.8636067810942879, 187.8120555555556, 187],
 'KNeighborsRegressor': [0.8632914040841552, 187.9589761904762, 187],
 'LogisticRegression': [0.8629427272080061, 188.03054761904764, 187],
 'LogisticRegressionCV': [0.8631093048018234, 187.79433333333327, 187],
 'RandomForestRegressor': [0.8633836589505551, 187.83817857142859, 187],
 'SVR': [0.8635155332103873, 188.04049206349205, 187]}

In [46]:
import pickle

In [47]:
results = {}
for file in file_names:
    data = pd.read_csv(file[0])
    X = data['date'].astype(np.float32)
    X = np.array(X).reshape(-1, 1).astype(np.float32)
    y = data[file[1]]
    le = LabelEncoder()
    le.fit(y)
    y = le.transform(y)
    model = BaggingRegressor()
    model.fit(X,y)
    pickle.dump(model,open(f'./models/{file[1]}-0.pkl','wb'))
    results[file[1]] = [model.score(X,y),model.predict(X)[0],y[0]]

In [48]:
results

{'new_tests': [0.9647127195718346, 203.0, 203],
 'total_tests': [0.992670543401137, 218.0, 218],
 'positive_rate': [0.9775722441383866, 30.0, 30],
 'total_vaccinations': [0.9063530139702001, 37.0, 37],
 'new_vaccinations': [0.7966503557127284, 33.0, 33],
 'new_cases': [0.9739906942664949, 0.225, 1],
 'total_cases': [0.9999640534286116, 0.0, 0],
 'total_deaths': [0.9999202040856773, 0.0, 0],
 'new_deaths': [0.7439964233018768, 0.0, 0],
 'new_recovered': [0.9674406775395747, 2.0, 2],
 'total_recovered': [0.9999638088090648, 0.0, 0]}

In [68]:
date = 20210509

In [69]:
results = {}
for file in file_names:
    data = pd.read_csv(file[0])
    X = data['date'].astype(np.float32)
    X = np.array(X).reshape(-1, 1).astype(np.float32)
    y = data[file[1]]
    le = LabelEncoder()
    le.fit(y)
    y = le.transform(y)
    model = BaggingRegressor()
    model.fit(X,y)
    date = np.array([int(date)])
    date = date.reshape(-1,1)
    results[file[1]] = [date,model.predict(date)]

In [70]:
results

{'new_tests': [array([[20210509]]), array([244.93333333])],
 'total_tests': [array([[20210509]]), array([239.675])],
 'positive_rate': [array([[20210509]]), array([37.7])],
 'total_vaccinations': [array([[20210509]]), array([73.6])],
 'new_vaccinations': [array([[20210509]]), array([44.06666667])],
 'new_cases': [array([[20210509]]), array([237.7])],
 'total_cases': [array([[20210509]]), array([402.5])],
 'total_deaths': [array([[20210509]]), array([176.13333333])],
 'new_deaths': [array([[20210509]]), array([8.1])],
 'new_recovered': [array([[20210509]]), array([221.2])],
 'total_recovered': [array([[20210509]]), array([396.7])]}